body{
    margin: 0%;
}

.containter-fluid{
    margin: 8px;
}
.navbar-brand{
    padding: 40px 20px 40px 18px;
    justify-content: flex-start;
    font-size: 56px !important;
    height: fit-content;
    flex-wrap: wrap;
}

.navbar{
    height: 120px;
    position: sticky !important;
    top:0%;
    background-color: #fefefe;
    z-index: 100;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;

}

.nav-item{
    padding: 0px 20px 0px 20px;
}

#heroImg{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-image: url(images/the-script.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
}

#heroSection{
    display: flex; 
    flex-direction: column;
    width: auto;
    background-color: #282828;
    padding: 32px 0px 0px 0px;
}
.headerText{
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    font-size: 52px;
    line-height: 1;
    align-items: flex-end;
    color: #fefefe;
    
}

.headerContent{
    margin: 0px;
}

.cdImg{
    width: 100%;
    height: 100%;
    background-size: contain;
    padding: 32px 0px 0px 0px;
    z-index: 1;

}

.btnLine{
    margin: 0px;
    font-size: 16px;
    color:#fefefe;
}


.btnLine2{
    margin: 0px;
    font-size: 24px;
    color:#fefefe;
}


.btnPurchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 100%;
    line-height: 1.1;
    background-color: #282828;
    text-decoration: none;
    border: none;

}

.btnPurchase:hover{
    background-color: #fefefe;
    transition-duration: 0.3s ;
}

.btnPurchase:hover .btnLine{
    color: #282828;
}

.btnPurchase:hover .btnLine2{
    color: #282828;
}

.btnListen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 100%;
    line-height: 1.1;
    background-color: #fefefe;
    text-decoration: none;
    border: none;

}

.btnListen:hover{
    background-color: #282828;
    transition-duration: 0.3s ;
}

.btnListen:hover .btnLine3{
    color: #fefefe;
}

.btnListen:hover .btnLine4{
    color: #fefefe;
}

.btnLine3{
    margin: 0px;
    font-size: 16px;
    color:#282828;
}
.btnLine4{
    margin: 0px;
    font-size: 24px;
    color:#282828;
    
}

.heroBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#shopSection{
    background-color: #fefefe;
    padding: 0px 0px 124px 0px;
    height: fit-content;
}

.headerPadding{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 124px 0px 64px 0px;
}

.cardShop{
    padding: 0px 8px;
}

.cardHeader{
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

.card{
    padding: 0px 0px 0px 0px;
    border: 4px solid #282828 !important;
    
}

.card:hover{
    background-color: #282828;
    color: #fefefe;
    transition-duration: 0.3s ;
}

.headerText2{
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    font-size: 52px;
    line-height: 1;
    align-items: flex-end;
    color: #282828;
}

.card-body{
    min-height: 88px;
}

.col{
    padding: 0px 0px 32px 0px;
}

.cardLink{
    text-decoration: none;
}